body {
    font-family: sans-serif;
    background-image: url("assets/starrybackground.jpg");
    background-color: #222;
}
h1 {
    
    text-align:center;
    font-family:Impact;
    color:goldenrod;
    font-size: 6.0em;
    margin: 1em 0 1em 0;
}

p{
    text-align: center;
    color:goldenrod;

}

.results {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: goldenrod;

}
